<!-- Footer Ejs Template -->
<footer class="footer">
<div class="footer">    
        <h5>Created by Prince Shrivastava</h5>
         <!-- Large Social Media Icons  -->
        <div class="socials-large"> 
            <!-- Youtube  -->
        <a href="https://www.youtube.com/@coding.prince?sub_confirmation=1" target="_blank"> <img alt="Subscribe Youtube" title="Subscribe to my YouTube channel" src="https://img.shields.io/badge/YouTube-FF0000?style=for-the-badge&logo=youtube&logoColor=white" /></a>
        <!-- Instagram -->
        <a href="https://www.instagram.com/coding.prince" target="_blank"><img src="https://img.shields.io/badge/Instagram-E4405F?style=for-the-badge&logo=instagram&logoColor=white" alt="Instagram" title="Follow me on Instagarm"></a>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/prince-shrivastava/" target="_blank"><img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white" alt="LinkedIn" title="Connect with me on LinkedIn"></a>
        <!-- Github -->
        <a href="https://github.com/princeshrivastava0" target="_blank"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white" alt="Github" title="Connect with me on Github"></a>
    </div>
    <!-- Social Media Icons for Mobile -->
    <div class="mobile-socials">
        
        <span >
            <!-- Youtube --> 
        <a href="https://www.youtube.com/@coding.prince" target="_blank"><img class="youtube" alt="Youtube" title="Youtube"
            src="https://cdn-icons-png.flaticon.com/512/725/725300.png" /></a>
        
            &#8287;        
            
            <!-- Instagram -->            
    <a href="https://www.instagram.com/coding.prince/" target="_blank"><img class="instagram" alt="Instagram" title="Instagram"
            src="https://cdn-icons-png.flaticon.com/512/1383/1383263.png" /></a>
        
            &#8287;
            
            <!-- LinkedIn -->        
    <a href="https://www.linkedin.com/in/prince-shrivastava/" title="LinkedIn" target="_blank"><img class="linkedin" alt="LinkedIn" 
            src="https://cdn-icons-png.flaticon.com/512/1384/1384889.png" /></a>
        
            &#8287;

            <!-- Github -->        
            <a href="https://github.com/princeshrivastava0" target="_blank">
                <img class="github" alt="Github"
            src="https://cdn.icon-icons.com/icons2/2351/PNG/512/logo_github_icon_143196.png" />
                </a>
            </span>               
    </div>    
    </div>
</footer>    
</body>
</html>