<%- include ("partials/header") %>
<div class="output">
    <span class="sun">
        <img src="./images/sun.png" alt="sun" width="20%">
    </span>
    <span class="clouds">
        <img class="cloud_1" src="./images/cloud1.png" alt="cloud1" >
        <img class="cloud_2" src="./images/cloud1.png" alt="cloud2" >
    </span>
    
</div>
<h6>Powered by Open Weather API</h6>
<%- include ("partials/footer") %>